<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="a" class="Test.A" scope="prototype">
        <property name="b" ref="b"/>
    </bean>
    <bean id="b" class="Test.B" scope="prototype">
        <property name="c" ref="c"/>
    </bean>
    <bean id="c" class="Test.C" scope="prototype">
        <property name="a" ref="a"/>
    </bean>
</beans>